<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>51150997085-j08ie13teaaihqqon7e5aj0ihuhd6jn4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.51150997085-j08ie13teaaihqqon7e5aj0ihuhd6jn4</string>
	<key>API_KEY</key>
	<string>AIzaSyBHuFjkPtRSeSr59LlmwnVgJnJb835ZJmU</string>
	<key>GCM_SENDER_ID</key>
	<string>51150997085</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ranjith.firebaseauth</string>
	<key>PROJECT_ID</key>
	<string>fir-auth-f900b</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-auth-f900b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:51150997085:ios:554ccfc91f9f6c53</string>
	<key>DATABASE_URL</key>
	<string>https://fir-auth-f900b.firebaseio.com</string>
</dict>
</plist>